        html, body {
            height: 100%;
		    /*background-color: #376daa;*/
        }

        #appLoadingIndicator img {
            height: 128px;
            width: 128px;
            margin-top: 10px;
        }
        #appLoadingIndicator {
            height: 100%;
            width: 100%;
            background-color: #376daa;
            color: #f3c50a;
            padding-top: 40%;
            /*
            position: absolute;
            top: 30%;
            */
            text-align: center;
            font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
            font-size: x-large;
        }
