<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <%# 
      #<meta name="apple-mobile-web-app-capable" content="yes">
      #<meta name="apple-touch-fullscreen" content="yes">
    %>
	<title>Simple Weather Forecast</title>
    <link rel="stylesheet" href="splash.css">
    <% if false %><% end %>
    <% @css.each do |css| %><link rel="stylesheet" href="<%=css%>">
    <% end %>
    <% if false %>
    <script type="text/javascript">
        var CSSList = [ ''
            <% @css.each do |css| %>,'<%=css%>'
            <% end %>
        ];
        var getStyleFileName = function() {
            return '';
        };
        addCSS = function (cssName) {
            var fileref = document.createElement("link");
            fileref.setAttribute("rel", "stylesheet");
            fileref.setAttribute("type", "text/css");
            fileref.setAttribute("href", cssName);
            document.getElementsByTagName("head")[0].appendChild(fileref);
        };
        for (var i=1, n = CSSList.length; i<n; i++) addCSS(CSSList[i]);
    </script>
    <% end %>
</head>
<body>
    <div id="appLoadingIndicator">
        <div>Loading app ...</div>
        <img src="app.png">
    </div>
    <script type="text/javascript">
        var myWF = { isLocal: <%= @localRequests %>, isDebug: <%= @debug %> }; 
    </script>
    <%#  Note:
      #  1. onLoad or deviceready will be detected by sencha: launch function will be called
      #  2. app.js is needed in html by "sencha compile" 
    %>    
    <% @sources.each do |source| %><script type="text/javascript" src="<%=source%>"></script>
    <% end %>
    <% if @debug=="true" %>
    <!-- <x-compile> -->
        <!-- <x-bootstrap> -->
        <!-- </x-bootstrap> -->
        <script type="text/javascript" src="ui-s/app.js"></script>
    <!-- </x-compile> -->
    <% end %>
</body>
</html>
