<html>
<head>
	<title>Weather codes and icons</title>
    <style type="text/css">
        img {
            height: 64px;
            width: 64px;
        }
        .myImages {
            position: fixed;
            left: 600px;
            top: 0;
            bottom: 0;
            overflow: auto;
        }
        .myImage {
            float: left;
            position: relative;
        }
        .caption {
            position: absolute;
            bottom: 20px;
            left: 25px;
        }
        .codeRow {
            display: -webkit-box;
            -webkit-box-orient: horizontal;
        }
        .desc {
            width: 45ex;
        }
        .place {
            border: 1px solid black;
            height: 65px;
            width: 65px;
            margin-right: 2px;
            background-color: gray;
        }
        .wwolCodes img {
            margin-right: 2px;
        }
    </style>    
</head>
<body>
    <div class="myImages">
        <% id_count = 0 %>
        <% NewImagesNames.each do |image| 
            id_count += 1 
        %>
            <div id="<%=id_count%>" name="<%=image[:id]%>" class="myImage">
                <img src="<%=image[:fileName]%>">
                <div class="caption"><%=image[:id]%></div>
            </div>
        <% end %>
    </div>    
    <div class="wwolCodes">
        <% Codes.each do |code| %>
            <div class="codeRow" id="wwol_<%=code.code%>" name="<%=code.code%>">
                <img src="images/<%=code.day_icon%>.png">
                <img src="images/<%=code.night_icon%>.png">
                <div class="desc">
                    <%=code.code%> <%=code.description%><br>
                    <%=code.day_icon%><br>
                    <%=code.night_icon%><br>
                </div>
                <div class="place" name="placeDay"></div>
                <div class="place" name="placeNight"></div>
            </div>
        <% end %>
    </div>
    <div style="margin-left: 65px;">
        <input type="button" value="Salva" onclick="serialize()"/>
        <br />
        <textarea id="serialized" style="width: 40em;"></textarea>
    </div>
    <script>
        window.onresize = function() { resize_id('ID_of_Container'); }
        
        var clipBoard = '',
            nodes,
            i=0,
            nextId = 1000;
            
        function removeChildren(node) {            
            while (node.childNodes.length > 0) {
                node.removeChild(node.childNodes[0]);
            } 
        }        
        function allowDrop(ev){ ev.preventDefault(); }
        function drag(ev){ 
            ev.dataTransfer.setData("Text", ev.target.id || ev.currentTarget.id); 
        }
        function drop(ev) {
            ev.preventDefault();
            appendClone(ev.currentTarget, ev.dataTransfer.getData("Text"))
        }
        function copy(id) { 
            clipBoard = id; 
        }
        function paste(target) {
            if (!clipBoard) return;
            appendClone(target, clipBoard)
        }
        function appendClone(target, id) {
            if (!id) return;
            removeChildren(target)
            clipBoard = '';
            var node = document.getElementById(id).cloneNode(true);
            node.id = nextId.toString();
            nextId++;     
            target.appendChild(node);
        }
            
        nodes = document.getElementsByClassName("place");    
        for (i = 0; i < nodes.length; i++) {
            nodes[i].onclick = function(ev) { paste(ev.target) };
            nodes[i].ondblclick = function (ev) { removeChildren(ev.currentTarget) };
            nodes[i].ondragover = allowDrop;
            nodes[i].ondrop = drop;
            nodes[i].ondragstart = drag;
            nodes[i].draggable = true;
        }
        
        nodes = document.getElementsByClassName("myImage");    
        for (i = 0; i < nodes.length; i++) {
            nodes[i].ondragstart = drag;
            nodes[i].draggable = true;
            nodes[i].onclick = function(ev) { copy(ev.currentTarget.id) };
        }
      
        // nodes = document.getElementsByClassName("myImages");    
        // nodes[0].onclick = function (item) { 
            // return function(ev) { paste(ev, item) };
        // }(nodes[0]);
        // nodes[0].ondragover = allowDrop;
        // nodes[0].ondrop = drop;

        function serialize() {
            var codes = [];
            var rows = document.getElementsByClassName("codeRow");
            for (i = 0; i < rows.length; i++) {
                var innerCodeNight = '';
                var innerCodeDay = '';
                var customCode = rows[i].getAttribute("name");            
                
                var curNodes = rows[i].querySelector('[name=placeDay]').childNodes;    
                if (curNodes.length > 0) { 
                    innerCodeDay = curNodes[0].getAttribute("name"); 
                }           
                var curNodes = rows[i].querySelector('[name=placeNight]').childNodes;    
                if (curNodes.length > 0) { 
                    innerCodeNight = curNodes[0].getAttribute("name"); 
                }
                if (!innerCodeDay) { innerCodeDay = innerCodeNight};
                if (!innerCodeNight) { innerCodeNight = innerCodeDay};
                 
                if (innerCodeDay) {
                    codes.push('{ customCode:' + customCode 
                        + ', innerCodeDay: ' + innerCodeDay 
                        + ', innerCodeNight: ' + innerCodeNight + ' }');
                }           
            }
            serialized = document.getElementById("serialized");
            serialized.textContent = '[\n\t'+codes.join(',\n\t')+'\n]';
            serialized.rows = codes.length+3;
            
            var win = window.open("about:blank", "_blank");
            win.document.write('<html><head><title></title></head><body>');
            win.document.write('[<br />&nbsp;&nbsp;&nbsp;&nbsp;');
            win.document.write(codes.join(',<br />&nbsp;&nbsp;&nbsp;&nbsp;'));
            win.document.write('<br />]');
            win.document.write('</body></html>');
        }
    </script>
</body>
</html>
