.x-button {
    height: 2.6em; 
}
.x-toolbar {
    height: 3.4em;
}

.myHBox
{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}
.myVBox
{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
}
.myFlex 
{
	-webkit-box-flex: 1;
}

.bar 
{
  /*Xbackground-color: #094AB1; */
  background-color: #094AB1; 
  margin: 1px;
}

.bar, .myHBox, .myVBox
{
    font-family: "Segoe UI Light", "Segoe UI Web Light", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";    
    
	xfont-family: Aria, sans-serif;
	xfont-weight: bold;
}
