<html>
<head>
    <meta name="viewport" content="width=500, initial-scale=1, maximum-scale=1">
    <title>View</title>
    <link rel="stylesheet" type="text/css" href="app.css">
    <script src="handlebars-1.0.rc.1.js" type="text/javascript" charset="utf-8"></script>
<!--     
<link rel="stylesheet" type="text/css" href="android.css">
#094AB1
#002a80
visited{color:#094AB1;}
a:hover{color:#3A6EC0;}
a:hover:active{color:#6B92D0;}

#003399
#1155CC
#3C78D8

            <span style="font-size: 1.3em; color: #0066FF;">2 &deg; </span>
            <span style="font-size: 1.3em; color: #E60000;">22 &deg; </span>

<body style="background-color: #fff; color: #fff; font-size: 1.4em; margin:0;">

<body style="background-color: #333; color: #333; font-size: 1.4em; margin:0;">
 -->
</head>
<body style="background-color: #fff; color: #fff; font-size: 1.4em; margin:0;">
<script id="todayTemplate" type="text/x-handlebars-template">
    <div class="bar">
    <div class="myVBox" style="margin: 0 auto; max-width: 450px; padding: 3px;">
        <div>{{desc}}</div>
        <div class="myHBox" style="-webkit-box-align: start;">
            <div class="myVBox" style="-webkit-box-align: end; margin: 0 0.5em 0 0;">
                <img style="height: 2.5em; width: 2.5em;" src="{{image}}">
                <div>
                    <img src="{{dropsImage}}" style="height: 0.8em;">
                    <span style="font-size: 0.7em;">{{{precipitationMM}}}</span>
                </div>
            </div>
            <div>
                <div>
                    <span style="font-size: 1.2em;">{{currentTemp}}&deg;C&nbsp;&nbsp;</span>
                    <img style="height: 1.1em; margin: 0 0 -3px 0;" src="images/lowtemp.png">
                    <span style="font-size: 1.1em; margin-bottom: 0.2em;">{{minTemp}}&deg;</span>
                    <img style="height: 1.1em; margin: 0 0 -3px 0;" src="images/hitemp.png">
                    <span style="font-size: 1.1em; margin-bottom: 0.2em;">{{maxTemp}}&deg;</span>
                </div>
                <div style="font-size: 0.7em;">
                    {{{weekDayName}}}&nbsp;{{{monthDay}}}&nbsp;{{monthName}}
                </div>
                <div style="font-size: 0.7em; max-width: 30ex;">
                    {{weatherDescription}}
                </div>
            </div>
        </div>
    </div>
    </div>
</script>
<script id="template" type="text/x-handlebars-template">
    <div class="bar">
    <div class="myHBox" style="margin: 0px auto; max-width: 450px;">
        <img style="height: 2em; width: 2em;" src="{{image}}">
        <div class="myFlex"></div>
        <div style="text-align:center; font-size: 0.9em;">
            {{{weekDayName}}}<br>
            {{{monthDay}}}&nbsp;{{monthName}}
        </div>
        <div class="myFlex"></div>
        <div>
            <div class="myHBox" style="-webkit-box-pack: start; margin: 0 0 0.2em 0;">    
                <div><img  style="height: 1.2em;" src="{{dropsImage}}"></div>
                <div style="height: 0.8em; margin: 0 0 0 0.3em;">{{{precipitationMM}}}</div>
            </div>        
            <img style="height: 1.3em; margin: 0 0 -3px 0;" src="images/lowtemp.png">
            <span style="font-size: 1.3em;">{{minTemp}} &deg; </span>
            <img style="height: 1.3em; margin: 0 0 -3px 0;" src="images/hitemp.png">
            <span style="font-size: 1.3em;">{{maxTemp}} &deg; </span>
        </div>
    </div>
    </div>
</script>

<script type="text/javascript">
/*
            <img style="height: 1.4em; margin: 0 0 -3px 0;" src="images/temp.png">
            <span style="font-size: 1.3em; color: #0000EE;">2 &deg; </span>
            <img style="height: 1.4em; margin-bottom: -3px;" src="images/temp.png">

            <span style="font-size: 1.3em; color: #ABFFFF;">2 &deg; </span>
            <img style="height: 1.4em; margin-bottom: -3px;" src="images/temp.png">
            <span style="font-size: 1.3em; color: #FFAB01;">22 &deg; </span>
 */

        b = document.body;
        function add (text) {
            return b.insertAdjacentHTML('beforeEnd', text);         
        }
        var template = Handlebars.compile(document.getElementById("template").innerHTML);
        var todayTemplate = Handlebars.compile(document.getElementById("todayTemplate").innerHTML);
        var weekDays = ["Lunedi", "Martedi", "Mercoledi", "Giovedi", "Venerdi", "Sabato", "Domenica"];
        var images = ["32", "40", "23", "38", "43", "27", "22"];
        var context = [];
        var todayContext = {
            desc: "Adro, BS, Italy"
            ,weekDayName: "Lunedi"
            ,monthDay: 1
            ,monthName: "Marzo"
            ,image: "images/sym/40.png"
            ,dropsImage: "images/drops3.png"
            ,maxTemp: 23
            ,currentTemp: 22
            ,minTemp: 2
            ,precipitationMM: '2.3&nbsp;mm'
            ,weatherDescription: 'Sunny with asteroids'
        }; 
        add(todayTemplate(todayContext)); 

        for (i = 0; i < 6; i++) {
            context.push({
                weekDayName: "Lunedi"
                ,monthDay: 1
                ,monthName: "Marzo"
                ,image: "images/sym/40.png"
                ,dropsImage: "images/drops3.png"
                ,maxTemp: 23
                ,minTemp: 2
                ,__mm: 2.3
            }); 
        }
        var i, n = 5;
        for (i = 0; i < n; i++) { 
            if (i>2) context[i].monthName = "Settembre";
            context[i].monthDay = 8+i;
            context[i].weekDayName = weekDays[i];
            context[i].image = "images/sym/" + images[i] + ".png";
        }
        context[1].__mm = 48.1;
        context[3].__mm = 0;
        context[4].__mm = 16.1;

        for (i = 0; i < n; i++) {
            context[i].precipitationMM = context[i].__mm+'&nbsp;mm';
            if (context[i].__mm > 48) {
                context[i].dropsImage = "images/drops3.png";
            } else if (context[i].__mm > 16) {
                context[i].dropsImage = "images/drops2.png";
            } else if (context[i].__mm > 0) {
                context[i].dropsImage = "images/drops1.png";
            } else {
                context[i].dropsImage = "images/drops0.png";
                context[i].precipitationMM = '';
            }
            add(template(context[i])); 
        }
    </script>
</body>
</html>