===========  <script id="todayTemplate" type="text/x-handlebars-template">
    '<div class="bar">',
    '<div class="myVBox" style="margin: 0 auto; max-width: 450px; padding: 3px;">',
        '<div>{desc}</div>',
        '<div class="myHBox" style="-webkit-box-align: start;">',
            '<div class="myVBox" style="-webkit-box-align: end; margin: 0 0.5em 0 0;">',
                '<img style="height: 2.5em; width: 2.5em;" src="{image}">',
                '<div>',
                    '<img src="{dropsImage}" style="height: 0.8em;">',
                    '<span style="font-size: 0.7em;">{precipitationMM}</span>',
                '</div>',
            '</div>',
            '<div>',
                '<div>',
                    '<span style="font-size: 1.2em;">{currentTemp}&deg;C&nbsp;&nbsp;</span>',
                    '<img style="height: 1.1em; margin: 0 0 -3px 0;" src="images/temp.png">',
                    '<span style="font-size: 1.1em; margin-bottom: 0.2em;">{minTemp}&deg;</span>',
                    '<img style="height: 1.1em; margin: 0 0 -3px 0;" src="images/temp.png">',
                    '<span style="font-size: 1.1em; margin-bottom: 0.2em;">{maxTemp}&deg;</span>',
                '</div>',
                '<div style="font-size: 0.7em;">',
                    '{weekDayName}',
                    '{monthDay}&nbsp;{monthName}',
                '</div>',
                '<div style="font-size: 0.7em; max-width: 30ex;">',
                    '{weatherDescription}',
                '</div>',
            '</div>',
        '</div>',
    '</div>',
    '</div>',
===========  <script id="template" type="text/x-handlebars-template">
    '<div class="bar">',
    '<div class="myHBox" style="margin: 0px auto; max-width: 450px;">',
        '<img style="height: 2em; width: 2em;" src="{image}">',
        '<div class="myFlex"></div>',
        '<div style="text-align:center; font-size: 0.9em;">',
            '{weekDayName}<br>',
            '{monthDay}&nbsp;{monthName}',
        '</div>',
        '<div class="myFlex"></div>',
        '<div>',
            '<div class="myHBox" style="-webkit-box-pack: start; margin: 0 0 0.2em 0;">',
                '<div><img  style="height: 1.2em;" src="{dropsImage}"></div>',
                '<div style="height: 0.8em; margin: 0 0 0 0.3em;">{precipitationMM}</div>',
            '</div>',
            '<img style="height: 1.3em; margin: 0 0 -3px 0;" src="images/temp.png">',
            '<span style="font-size: 1.3em;">{minTemp} &deg; </span>',
            '<img style="height: 1.3em; margin: 0 0 -3px 0;" src="images/temp.png">',
            '<span style="font-size: 1.3em;">{maxTemp} &deg; </span>',
        '</div>',
    '</div>',
    '</div>',
