.myHBox
{
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.myVBox
{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
}
.myFlex 
{
  -webkit-box-flex: 1;
}

.myHead, .myRow
{
  font-weight: bold;
  font-size: 1em;
  color: #333;
}
.myHead
{
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.error
{
    color: white;
    background-color: red;    
}

.myFieldset .x-form-fieldset-title
{
    font-size: 1.2em;
}

.myFieldset .x-form-fieldset-instructions
{
    font-size: 1em;
}

.myInfoLabel, .myInfoLabelVersion 
{
    font-size: 1em;
    text-align: center;
}

.myInfoLabel
{
    text-shadow: #fff 1px 1px 1px;
    padding: 50px 0 3px 0;
    font-weight: bold;
}

.myEmptyTextContainer
{
    position: absolute;
    top: 30%;
    width: 100%
}
.myEmptyText
{
    text-align: center;
}
