//from android.css
// Let's start with the basics
$base-color: #333;
$active-color: #ff8100;
//$base-gradient: 'flat';

// Buttons
//$button-gradient: 'bevel';

// Lists
$list-bg-color: #eee;
$list-color: #333;
$list-pressed-color: #ddd;
//$list-active-gradient: 'recessed';
$list-header-bg-color: #999;
//$list-header-gradient: 'bevel';

// Tabs
$tabs_dark_color: #000;
//from android.css end

// 
// $base-color: rgb(17, 85, 204);//#00f;
// $page-bg-color: $base-color;//#00f;
// //$tabs_dark_color: #00f;
// //$active-color: #ff8100;
// $base-gradient: 'flat';
// 
$include-button-highlights: false;
$include-highlights: false;
// 
// // Lists
// //$list-pressed-color: #ddd;
// //$list-active-gradient: 'recessed';
// //$list-header-bg-color: #999;
// //$list-header-gradient: 'bevel';
// 
// //Optionally disable all list gradients, text-shadows, and box-shadows. 
// //Useful for CSS debugging, non-performant browsers, or minimalist designs.
$include-list-highlights: false;
// $list-color: #ffffff;
// $list-bg-color: $base-color;
// 
//$button-radius: 0;
// //$page-bg-color: $base-color !default;
// $neutral-color: $base-color;
// 

@import 'sencha-touch/default/all';
 
// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
// @include sencha-sheet; //
@include sencha-picker; //
@include sencha-tabs;
@include sencha-toolbar;
// @include sencha-toolbar-forms; //
// @include sencha-indexbar; //
@include sencha-list;
@include sencha-layout;
// @include sencha-carousel; //
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...


.mySelected
{
    background-color: $list-pressed-color;    
}
.myUnSelected
{
    background-color: $page-bg-color;    
}

.x-button {
    height: 2.6em; 
}
.x-toolbar {
    height: 3.4em;
}
.x-list .x-list-item .x-list-item-label {
    padding: 0.3em 0.4em;
}
    
