// Let's start with the basics
$base-color: #7c92ae;
$base-gradient: 'glossy';

// Lists
$list-active-gradient: 'bevel';
$list-header-bg-color: transparentize(saturate($base-color, 10%), .25);
$list-header-gradient: 'matte';

// Tabs
$tabs-dark: #111;

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
//@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
//@include sencha-toolbar-forms;
//@include sencha-carousel;
//@include sencha-indexbar;
@include sencha-list;
//@include sencha-list-paging;
//@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-form;
@include sencha-msgbox;
//@include sencha-loading-spinner;
//@include sencha-draw;
//@include sencha-charts;

.x-toolbar-light .x-title {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
}

.x-button-back .x-button-label {
    color: #fff;
}
