//from android.css
// Let's start with the basics
//$base-color: #2d89ef;
$base-color: #fff;
$active-color: #fff;
$font-family: "Segoe UI", "Segoe UI Web", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";    
//$app-base-font-base: 1.4em;
//$neutral-color: #094AB1;
//$page-bg-color: #094AB1;
//$base-gradient: 'flat';

// Buttons
//$button-gradient: 'bevel';

// Lists
$list-bg-color: #fff;
$list-color: #2d89ef;
$list-pressed-color: #ddd;
//$list-active-gradient: 'recessed';
$list-header-bg-color: #999;
//$list-header-gradient: 'bevel';

// Tabs
$tabs_dark_color: #000;
//from android.css end


// 
// $base-color: rgb(17, 85, 204);//#00f;
// $page-bg-color: $base-color;//#00f;
// //$tabs_dark_color: #00f;
// //$active-color: #ff8100;
// $base-gradient: 'flat';
// 
$include-button-highlights: false;
$include-highlights: false;
// 
// // Lists
// //$list-pressed-color: #ddd;
// //$list-active-gradient: 'recessed';
// //$list-header-bg-color: #999;
// //$list-header-gradient: 'bevel';
// 
// //Optionally disable all list gradients, text-shadows, and box-shadows. 
// //Useful for CSS debugging, non-performant browsers, or minimalist designs.
$include-list-highlights: false;
// $list-color: #ffffff;
// $list-bg-color: $base-color;
// 
//$button-radius: 0;
// //$page-bg-color: $base-color !default;
// $neutral-color: $base-color;
// 

@import 'sencha-touch/default/all';
 
// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
// @include sencha-sheet; //
@include sencha-picker; //
@include sencha-tabs;
@include sencha-toolbar;
// @include sencha-toolbar-forms; //
// @include sencha-indexbar; //
@include sencha-list;
@include sencha-layout;
// @include sencha-carousel; //
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...


.mySelected
{
    background-color: $list-pressed-color;    
}
.myUnSelected
{
    background-color: $page-bg-color;    
}

.x-button, .x-toolbar  .x-button {
    color: #fff;
    background: rgb(10, 100, 170); /*#2d89ef;*/
    padding: 0 30px;
    margin: 1px;
    border-width: 0;
    border: 0;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;

    &.x-button-pressing {
      background: $base-color;
    }

    .x-button-label {
      text-align: left;
      font-size: 16px;
      padding: 8px 10px 8px;
    }

    .x-button-icon {
      width: 25px;
      height: 25px;
      -webkit-mask-size: 25px 25px;
    }
  }

.x-toolbar-dark .x-button .x-button-icon.x-icon-mask {
    background-color: #fff; /*#2d89ef;*/
}
.x-toolbar-dark, .x-toolbar-dark, .x-layout-card-item {
    background-color: $base-color; /*#2d89ef;*/
}

.x-toolbar.x-docked-bottom {
  border-top: 0;
}

.x-button {
    height: 2.6em; 
}
.x-toolbar {
    height: 2.8em;
}
.x-list .x-list-item .x-list-item-label {
    padding: 0.3em 0.4em;
}

.myRow
{
    font-weight: normal;
    font-size: 1em;
}
.myHead {
    border-bottom: 0;
    background-color: #2d89ef;
    font-weight: normal;
    font-size: 1.1em;
    color: #fefefe;
}
